@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
  font-weight: 400, 700;
  font-style: normal;
}

.container {
  width: 250px;
  height: 259px;
  background: linear-gradient(#ccc, #eee);
  border: 1px solid #a3a3a3;
  border-radius: 5px;
  padding: 20px;
}

.container section{
  font-size: 0.9375em;
  font-weight: 700;
  margin: 0 0 16px;
}

.container dt {
  color: #296897;
  font-size: 0.875em;
  font-weight: 700;
  margin-bottom: 4px;
  width: 170px;
}

.container dd {
  margin-left: 0;
}

.txt-01, .txt-02 {
  font-size: 0.875em;
  line-height: 21px;
  width: 170px;
}

.txt-01, .title-01 {
  float: right;
}

.txt-02, .title-02 {
  float: left;
  margin-right: 16px;
}

.txt-01 {
  margin-bottom: 20px;
}
